.carousel {
    margin-top: 20px;
    display: flex;
    /* border: 1px solid black; */
    justify-content: center;
}
.items {
    display: block;
    width: 160px;
    /* border: 1px solid blue; */
    margin: 10px;
}
.products-related {
    display: flex;
    border-top: 1px solid gray;
    width: 95%;
    margin: auto;
}
.pages {
    position: absolute;
    right: 20px;
}
a {
    text-decoration: none;
    color: var(--links-color)
}
.name a:hover {
    text-decoration: underline;
    color: var(--links-color-hover)
}
.buttons-carousel {
    /* border:1px solid blue; */
    display: flex;
    align-items: center;
}
.buttons-carousel button {
    width:30px;
    height: 35px;
    position: relative;
    margin: 5px;
    cursor: pointer;
    border-radius: 7px;
    border: 1px solid gray;
    background-color: white;
}
.buttons-carousel button:hover {
    background-color: rgb(219, 219, 219);
}
button .previous-items {
    position: absolute;
    background: url('/assets/images/socialSprite.png') -123px -7px;
    background-size: 400px 900px;
    width: 11px;
    height: 15px;
    top:9px;
    left:9px;
    
}
button .more-items {
    position: absolute;
    background: url('/assets/images/socialSprite.png') -105px -7px;
    background-size: 400px 900px;
    width: 11px;
    height: 15px;
    top:9px;
    right:9px;
}