.nav.two {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: var(--nav-two-color);
    height: 40px;
    font-size: 0.875rem;
    color: white;
    width:100%;
}
.nav.two div {
    padding: 7px 10px;
    border: 1px solid transparent;
    line-height: 0.5rem;
    cursor: pointer;
}
.all {
    display: flex;
    flex-direction: row;
    border: 1px solid transparent;
    margin-left: 10px;
    cursor: pointer;
}
.nav.two div:hover,
.all:hover {
    border: 1px solid white;

}
.all span{
    display: flex;
    flex-direction: column;
}
.hamburger span {
    height: 5px;
    width: 13px;
    border-bottom: 2px solid white;
    margin: 0px 3px;
}
.text-all {
    font-size: 0.875rem;
    margin-left: 2px;
    line-height: 1.2rem;
    font-weight: 600;
}
.orange-banner {
    background-repeat: no-repeat;
    display: flex;
    position: sticky;
    justify-content: center;
    object-fit: contain;
    height: max-content;
    cursor: pointer;
}
.black-friday {
    position: absolute;
    right: 10px;
    font-weight: 700;
}
